.actions {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.app {
  display: flex;
  justify-content: center;
}

.spinning {
  font-weight: bold;
  color: green;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin: 2rem auto;
}